<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ssmk">

    <!-- 配置权限的区域 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <application
        android:name=".appliaction.MyAppliacton"
        android:allowBackup="true"
        android:icon="@drawable/logo1111"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:theme"
        >
        <activity android:name=".home.HomeActivity"
            android:launchMode="singleTask"
                  android:theme="@style/Appwelcome"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Activity的区域 -->
        <activity android:name=".module.merchant.view.Shopping_Activity"/>
        <!-- 商品详情的页面 -->
        <activity android:name=".module.merchant.view.DetailsActivity"/>

        <meta-data
            android:name="design_width"
            android:value="720">
        </meta-data>
        <meta-data
            android:name="design_height"
            android:value="1280">
        </meta-data>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="594b194de88bad156f000f85" >
        </meta-data>
        <activity android:name=".module.shoppingcar.OrderActivity">
        </activity>
        <activity android:name=".module.shoppingcar.AddressActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.AllOrderActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.WaitSendActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.WaitPayActivity">
        </activity>
        <activity android:name=".module.home.view.Home_NFC_activity">
        </activity>
        <activity android:name=".module.home.view.Home_Help_activity"/>
        <activity android:name=".module.merchant.view.EvaluateActivity"/>
        <activity android:name=".module.shoppingcar.order.LogisticsDetailsActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.ApplyRefundActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.OnlyRefundActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.SalesReturnActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.RefundActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.WaitReceiveActivity">
        </activity>
        <activity android:name=".module.shoppingcar.order.EvaluateActivity">
        </activity>
        //首页的WabActivity
        <activity android:name=".module.home.view.HomeWabActivity"/>
        <activity android:name=".module.home.view.Home_History_activity"></activity>
        <activity android:name=".module.my.activity.AboutMeActivity" />
        <activity android:name=".module.my.activity.FeedbackActivity"></activity>
        <activity android:name=".module.my.activity.MyCollectActivity" />
        <activity android:name=".module.my.activity.PersonMessageActivity" />
        <activity android:name=".module.my.activity.NewaddressActivity" />
        <activity android:name=".module.my.activity.MessageActivity" />
        <activity android:name=".module.my.activity.SettingActivity" />
        <activity android:name=".module.my.activity.SiteActivity" />
        <activity android:name=".module.merchant.view.CityListingActivity" />
        <activity android:name=".module.login.Login_main_Activity"></activity>
        <activity android:name=".module.login.Register_main_Activity"></activity>
        <activity android:name=".module.login.MissPasswordActivity"></activity>
        <activity android:name=".module.login.ChangePasswordActivity"></activity>
        <activity android:name=".module.login.ChangePhoneActivity"></activity>
        <activity android:name=".module.login.FinishPhoneActivity"></activity>
        <activity android:name=".module.merchant.view.CollaborateActivity"></activity>
        <activity android:name=".module.my.activity.CityActivity"></activity>
        <activity android:name=".module.my.activity.RegionActivity"></activity>
        <activity android:name=".module.my.activity.CitySonActivity"></activity>
        <!-- 二维码Activity -->
        <activity android:name=".module.home.view.Home_TwoCode_activity"></activity>
        <activity
            android:name=".thirdparty.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".thirdparty.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106210609" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>